@font-face {
  font-family: "toutiao";
  /* Project id 3320781 */
  src: url('//at.alicdn.com/t/font_3320781_lif4tb7vrjj.woff2?t=1649726242328') format('woff2'), url('//at.alicdn.com/t/font_3320781_lif4tb7vrjj.woff?t=1649726242328') format('woff'), url('//at.alicdn.com/t/font_3320781_lif4tb7vrjj.ttf?t=1649726242328') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianzan:before {
  content: "\e606";
}
.icon-gengduo:before {
  content: "\e607";
}
.icon-fenxiang:before {
  content: "\e608";
}
.icon-dianzan2:before {
  content: "\e609";
}
.icon-lishi:before {
  content: "\e60a";
}
.icon-shanchu:before {
  content: "\e60b";
}
.icon-guanbi:before {
  content: "\e60c";
}
.icon-shouye:before {
  content: "\e60d";
}
.icon-pinglun:before {
  content: "\e60e";
}
.icon-sousuo:before {
  content: "\e60f";
}
.icon-shipin:before {
  content: "\e610";
}
.icon-shoucang:before {
  content: "\e611";
}
.icon-yanzhengma:before {
  content: "\e612";
}
.icon-wenda:before {
  content: "\e613";
}
.icon-wuwangluo:before {
  content: "\e614";
}
.icon-youjiantou:before {
  content: "\e615";
}
.icon-shouji:before {
  content: "\e616";
}
.icon-wode:before {
  content: "\e617";
}
.icon-zuopin:before {
  content: "\e618";
}
.icon-yuedu:before {
  content: "\e619";
}
